@{
    ViewData["Title"] = "External View";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>coming from the IStringLocalizer : @ViewBag.ControllerLocalizer</p>
<p>coming from the IViewLocalizer  :  (Localized to en-US) Use this area to provide additional information..</p>
